.imagem {
    position: absolute;
    width: 467px;
    height: 477.08px;
    left: 166px;
    top: 398px;
}

.texto {
    position: absolute;
    width: 50rem;
    height: 40rem;
    left: 50rem;
    top: 25rem;

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    text-align: right;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}