.imagem {
    position: absolute;
    width: 467px;
    height: 477.08px;
    left: 166px;
    top: 398px;
}

.foto {
    box-sizing: border-box;
    height: auto;
    border: 1px solid #000000;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.foto2 {
    width: 219px;
    height: 51px;
    left: 292.2px;
    top: 398px;
    
    background: #DFB2F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(4.27deg);
}

.texto {
    position: absolute;
    width: 777px;
    height: 414px;
    left: 812px;
    top: 390px;

    font-family: "JetBrains Mono", monospace;
    font-size: 28px;

    text-align: right;

    color: #000000;
}