.texto {
    color: #1f1e1e;
    font-family: 'JetBrains Mono';
    text-align: justify;
}

.content{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width:1023px) {
    .imagem{
        display: none;
    }
}