.container-right{
    background-image: url("../../../assets/img/Aviso.png");
    background-size: cover;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 40%;
}

.container-right img{
    object-fit: fit;
    width: 100%;
}

@media screen and (max-width: 768px){
    .container-right{
        background-image: url("../../../assets/img/Aviso.png");
        background-size: cover;
        height: 80%;
        padding: 1rem;
        width: 100%;
    }

    .container-right img{
        display: none;
    }
}