@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;400&display=swap");

:root{
    --rosa: #f49897;
    --roxo: #dfb2f4;
    --amarelo: #f5e960;
    --azul: rgb(85, 214, 194);

    /* --- FONTES ---*/

    --fonte: "JetBrains Mono", monospace;
}